<!-- Fixed header -->
<div class="navbar navbar-inverse">
  <h3 class="header-text">Your Profile</h3>
</div>

<!-- Container for the rest of the page -->
<div class="content-body">
  <!-- User information panel -->
  <div class="panel panel-default">
    <div class="panel-body">
      <legend>Details</legend>
      <div class="row">
        <label class="col-md-2">Name:</label>
        <p class="col-md-6">{{user.info.firstname}} {{user.info.lastname}}</p>
      </div>
      <div class="row">
        <label class="col-md-2">Username:</label>
        <p class="col-md-6">{{user.info.username}}</p>
      </div>
      <div class="row">
        <div ng-controller="ProfileEditorCtrl">
          <script type="text/ng-template" id="formEdit.html">
            <div class="modal-header">
              <h3 class="modal-title">Edit Profile</h3>
            </div>
            <div class="modal-body">
              <div class="row">
                <label class="col-md-2 control-label">Full Name:</label>
                <div class="col-md-10">
                  <input class="form-control" type="text" placeholder="e.g. Jamie Smith" ng-model="newName">
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
              <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
            </div>
          </script>
          <div class="col-md-12">
            <input class="btn btn-primary pull-right" type="submit" value="Edit Profile" ng-click="open()" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <legend>Achievements</legend>
      <div class="row" ng-if="!user.info.achievements.length">
        <label class="col-md-8">When you have an achievement, it'll show up here!</label>
      </div>
      <div class="row" ng-repeat="achievement in user.info.achievements">
        <label class="col-md-6">{{achievement.name}}</label>
        <div class="col-md-2"><img class="sticker" src="../../assets/images/{{achievement.icon}}" alt="{{achievement.name}}"></div>
      </div>
    </div>
  </div>
</div>
